
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
  border: 1px solid black;
 }
    table {
  border-collapse: collapse;
  width: 100%;
  
}
td
{
    height: 50px;
}

</style>
<h2>Reports</h2>
<table>
    <tr>
        <td>
            hihhhhhhhhhhhh
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
    <tr>
        <td>
            hi
        </td>
        <td>
            Category Wise Staff Record
        </td>
    </tr>
</table>

